{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="container">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="box" style="position: relative;">
                    
                    <img src="{% static 'image/banner.jpg'%}" class="d-block" height="400px" width="800px">
                    <a href="{%url 'new'%}" class="btn btn-outline-primary btn-lg btn-block" style="position:absolute;left:750px;top: 63%;width: 300px;height: 80px;font-size: 25px;padding-top: 20px;">질문하기</a>
                    <div class="card p-3" style="width: 18.75rem;position:absolute;left:750px;top: 10%;height: 8rem;">
                        {% if user.is_authenticated %}
                            <h3 style="text-align: center;">안녕하세요 {{user.username}}님</h3>
                            {{user.birthday}}
                            {{user.gender}}
                            <a href="{%url 'logout'%}">로그아웃</a>
                        {% else %}
                        <a href="{%url 'login'%}" class="btn btn btn-outline-primary btn-lg " style="height: 70px;padding-top: 20px;">로그인</a>
                        <a href="{%url 'register'%}" class="btn pull-right">회원가입</a>
                        {% endif %}
                    </div>
                </div>
                

            </div>
            
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div class="container">

        <h3>질문 보기!</h3>
        <hr>
        {% for question in questions %}
        <div class="card p-3 my-3">
            <a href="{%url 'question' question.id%}" id="content">
                <h3>{{question.title}}</h3>
                교수명:{{question.professor_name}}
                과목명:{{question.subject_name}}
                {{question.pub_date}}
            </a>
        </div>
            
        {% endfor %}
    
    </div>
    
    {% endblock %}
