{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="point">
    {{question.subject_name}} > {{question.professor_name}}
    </div>
    
        <h3>질문 : {{question.title}}</h3>

    <hr>
    <div class="card p-3 my-3 " style="width: 30rem;">
        <h5>{{question.body}}</h5>
        <p style="text-align: right; margin: 0;">{{question.pub_date}}</p>
    </div>

    <a href="{%url 'edit' question.id%}" class="btn-sm btn btn-outline-primary">수정하기</a>
    <a href="{%url 'delete' question.id%}" class="btn-sm btn btn-outline-primary">삭제하기</a>
    
    <hr>
    <a href="{% url 'answer' question.id %}" class="btn-sm btn btn-outline-primary">답변하기</a>
    {% for answer in answers %}
        {% if answer.sleceted == True %}
            채택됨
        {% else%}
            채택을 기다리는중 !
            <a href="{% url 'select' answer.id%}">채택하기</a>
    
        {% endif %}
            {{answer.title}}
            {{answer.body}}
            {{answer.pub_date}}
    {% endfor%}

    </div>
{% endblock %}