{% extends "base.html" %}
{% block content %}
<div style="display:inline-block; vertical-align: middle; width:200px">
    <form method="POST" class = m-4 enctype="multipart/form-data">
        {%csrf_token%}
        {{form.as_p}}
        <input class="btn btn-dark" type="submit" value="저장">
    </form>
</div>
{% endblock%}

<!-- <form action="{% url 'create' %}" method = "POST">
    {%csrf_token%}
    <h3>{{question.title}}</h3>
    <p name="question_id">{{question.id}}</p>
    <h3>A 답변</h3> : <input type="text" name="title" size="40">

    <textarea name="body" id="" cols="30" rows="10" ></textarea>
    <input type = "text" name="question_id" value="{{question.id}}" style= "display : none;">
    <button type="submit">제출하기</button>
</form> -->

<!-- 아래는 model 값들 -->

<!-- {{answer.title}}
{{answer.pub_date}}
{{answer.body}}
 나중에 이미지 -->
<!-- {{answer.professor_name}}
{{answer.subject_name}}
{{answer.answer}}   -> 이거 Foreign --> 
<!-- title, body, 작성자 정보(?), 기입한 시간 넘기기 -->